* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    text-align: center;
    cursor: crosshair;
  }

  a {
    text-decoration: underline;
    color: white;
  }

img {
  position: absolute;
  top: 72px;
  left: 550px;
  width: 65px;
  height: 160px;
}

#footer {
  z-index: 4;
  position: absolute;
  top: 390px;
  font-size: small;
  color: white;
}

#footer-gameover {
  z-index: 4;
  position: absolute;
  top: 480px;
  left: 20px;
  font-size: small;
  color: white;
  }

  #footer-win {
    z-index: 4;
    position: absolute;
    top: 480px;
    left: 20px;
    font-size: small;
    color: white;
    }

  #link-external {
    text-decoration: underline;
    color: #667b82;
  }

  .win-links {
    text-decoration: underline;
    color: rgb(146, 150, 146);
  }

  #game-intro {
    z-index: 2;
    position: absolute;
    top: 50px;
    width: 1200px;
    height: 504px;
    
  }
  
  #game-intro h1 {
    z-index: 4;
    position: absolute;
    top: 40px;
    left: 320px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;

  }

  #instructions {
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 320px;
    width: 490px;
    height: 300px;
    font-size: 16px;
    text-align: left;
    color: white;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif; */
  }

  #start-button {
    position: absolute;
    z-index: 1;
    top: 400px;
    left: 320px;
    font-size: 16px;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  #win-screen {
    background-image: url('./Images/win.jpg'); 
    background-repeat: round; 
    background-size: contain;
    position:  absolute;
    top: 100px;
    left: 300px;
    width: 900px;
    height: 504px;  
  }


  #win-screen h1 {
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    color: orange;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
  }

  #win-container {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2; 
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    height: 300px;
  }

  #win-text {
    z-index: 3;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 16px;
    text-align: center;
    color: rgb(146, 150, 146);
  }

  #gameover-screen {
    background-image: url('./Images/hospital.jpeg');
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: 100px;
    left: 300px;
    width: 900px;
    height: 504px;
  }

  #gameover-container {
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    height: 300px;
  }

  #gameover-screen h1 {
    z-index: 4;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    color: #057c88;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    

  }

  #gameover-text {
    /* z-index: 1; */
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 16px;
    text-align: center;
    color: #667b82;
  }
 
  #replay-button {
    position: absolute;
    z-index: 1;
    top: 240px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    background-color: #057c88;
    color: white;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }

  #replay-button2 {
    position: absolute;
    z-index: 4;
    top: 350px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
 /*  #gameover {
    z-index: 2;
    position: absolute;
    top: 50px;
    width: 1200px;
    height: 504px;
    
  } */

 
 

 /*  #win-screen {
    background-image: url('./Images/win.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: 100px;
    left: 300px;
    width: 900px;
    height: 504px;
  } */

 canvas {
    z-index: 0;
    position: absolute;
    top: 50px;
    left: 280px;
    background-color:antiquewhite;
  }
