* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    text-align: center;
    cursor: crosshair;
  }

  
  #footer {
    z-index: 4;
    position: absolute;
    top: 360px;
    font-size: small;
    color: white;
  }

  #footer a {
    text-decoration: underline;
    color: white;
  }

img {
  position: absolute;
  top: 72px;
  left: 550px;
  width: 65px;
  height: 160px;
}
  #game-intro h1 {
    z-index: 4;
    position: absolute;
    top: 50px;
    left: 300px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;

  }
  
  #game-intro {
    z-index: 2;
    position: absolute;
    top: 50px;
    width: 1200px;
    height: 504px;
    
  }

  #instructions {
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 300px;
    width: 500px;
    height: 300px;
    font-size: 16px;
    text-align: left;
    color: white;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif; */
  }

  body button {
    position: absolute;
    z-index: 1;
    top: 370px;
    left: 300px;
    font-size: 16px;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  #gameover h1 {
    z-index: 4;
    position: absolute;
    top: 50px;
    left: 300px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;

  }
  
  #gameover {
    z-index: 2;
    position: absolute;
    top: 50px;
    width: 1200px;
    height: 504px;
    
  }

  #gameover-text {
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 300px;
    width: 500px;
    height: 300px;
    font-size: 16px;
    text-align: left;
    color: white;
  }
 
 canvas {
    z-index: 0;
    position: absolute;
    top: 50px;
    left: 280px;
    background-color:antiquewhite;
  }
