* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    text-align: center;
    cursor: crosshair;
  }

  body h1 {
    position: absolute;
    top: 150px;
    left: 550px;
    color: white;
    font-family:fantasy ;
    font-size: 30px;
    text-transform: uppercase;
  }
  
  body button {
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 680px;
    font-size: 18px;
    background-color: white;
    color: black;
    padding: 10px 10px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  #game-intro {
    z-index: 2;
    position: absolute;
    top: 100px;
    width: 1200px;
    height: 504px;
    
  }
  
 canvas {
    z-index: 0;
    position: absolute;
    top: 50px;
    left: 280px;
    background-color:antiquewhite;
  }
